<!DOCTYPE html>
%html
  %head
  %body
    %h1 Welcome to The Official A-List
    %p
      You have successfully signed up for The Official A-List.
    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks for joining and have a great day!
