= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-lg-offset-3
  #mycards.all-cards
    = render @celebrities
  #infinite-scrolling
    = will_paginate

