.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-lg-offset-3
  %form#search
    = form_tag :action => "search", :id => "search", :authenticity_token => false
    .right-inner-addon
      %i.glyphicon.glyphicon-search.btn
      = text_field_tag "query", nil, :class => 'form-control typeahead'
  %br
  //%br
  //%br
  #mycards.all-cards
    = render @celebrities
  #infinite-scrolling
    = will_paginate @celebrities
:javascript
  f = $(".btn.glyphicon");
  f.click(function(){
  $("#search").submit();
  console.log('search')
  });
