
.admin_index {
  .boolean {
    label {
      display: block;
    }
  }
}

.admin_index {
  form {
    text-align: left;
    img {
      display: inline;
    }
  }
  p {
    background: grey;
  }
}

.form-inputs{
  max-width: 80vw;
  @media (min-width: 450px){
    max-width: 60vw;
  }
  margin: 0 auto;
  label{
    text-transform: uppercase;
    justify: right;
  }
  p{
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    line-height: 1;
  }
  .control-label{
    line-height: 1.5;
  }
  .form-control {
    background-color: rgba(255, 255, 255, 0.5);
    border: .2em solid  rgba(255, 255, 255, 0.9);
    border-radius: 1em;
  }
}
.form-actions{
  margin: 0 auto;
  text-transform: uppercase;
  a {
    vertical-align: middle;
    font-size: .7rem;
    color: rgba(0,0,0, 0.7);
    font-weight: 900;
    padding-left: 8%;
    &:hover{
      color: #ccc;
    }
    &:last-child{
      font-size: .4rem;
      margin: 0 auto;
      color: #fff;
      padding: 0;
      &:hover{
        color: #ccc;
      }
    }
  }
}
.btn-default{
  background-color: rgba(255, 255, 255, 0.9);
  color: #f89750;
  font-weight: 700;
  font-size: .7rem;
  line-height: 1.2;
  text-transform: uppercase;
  border: .1em solid  rgba(255, 255, 255, 0.9);

}
.container-fluid {
  text-transform: uppercase;
  p{
    line-height: 1;
  }
  a {
    vertical-align: middle;
    font-size: .7rem;
    color: rgba(0,0,0, 0.7);
    font-weight: 600;
    //padding-left: 8%;
    &:hover{
      color: #ccc;
    }
  }
  text-container {
    max-width: 80vw;
    @media (min-width: 450px){
      max-width: 60vw;
    }
    margin: 0 auto;
    p {
      &.info-text {
        line-height: 1.4;
        color: rgba(0,0,0, 0.6);
      } 
    }
  }
}
