.admin_index {
  .boolean {
    label {
      display: block;
    }
  }
}

.admin_index {
  form {
    text-align: left;
    img {
      display: inline;
    }
  }
  p {
    background: grey;
  }
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.form-inputs{
  max-width: 60vw;
  margin: 0 auto;
  label{
    text-transform: uppercase;
    justify: right;
  }
  p{
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    line-height:.9;
  }
  .form-control {
    background-color: rgba(255, 255, 255, 0.5);
    border: .2em solid  rgba(255, 255, 255, 0.9);
    border-radius: 1em;
  }
}
.form-actions{
  text-transform: uppercase;
  a {
    vertical-align: middle;
    font-size: .7rem;
    color: rgba(0,0,0, 0.7);
    font-weight: 700;
  }
}
.btn-default{
  background-color: rgba(255, 255, 255, 0.5);
  color: #f89750;
  font-weight: 700;
  font-size: .9rem;
  text-transform: uppercase;

}
