/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require flat-ui
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Courier';
  text-align: center;
}

.header {
  li {
    list-style-type: none;
  }
}

//.custom-radio
.radio_buttons {
  label {
    color: #fff;
    background-color: #bdc3c7;
    border-color: #ccc;
    padding-right: 20px;
    width: 300px;
    .radio_buttons{
      opacity: 0;
      margin-left: -400px;
    }
  }
}

form {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

.radio {
  padding-left: 0px;
}

//input[type="radio"]:checked {
//  border-color: black;
//  border-width: medium;
//  border-style: solid;
//}
//
.custom_radio2 {
  display: block;

  .img-responsize {
    width: 100%;
  }

  label {
    width: 100%;
    color: #fff;
    background-color: #bdc3c7;
    border-radius: 2em 1em 4em / 0.5em 3em;
    margin-top: 5px;
    label {
      color: #fff;
      background-color: #bdc3c7;
      border-radius: 2em 1em 4em / 0.5em 3em;
      margin-top: 5px;
    }
  }

  input[type="radio"] {
    opacity: 0;
    display: none;
  }

  input[type="radio"]:checked + label {
    border-style: solid;
    border-color: black;
  }
}

.admin_index {
  .boolean {
    label {
      display: block;
    }
  }
}

.all-cards{
  .row {
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-style: groove;
    border-width: 5px;
    margin-top: 25px;
    margin-bottom: 25px;

    .img-responsive {
      height: 33vh;

.admin_index {
  form {
    text-align: left;
    img {
      display: inline;
    }
  }
}


