/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require flat-ui
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  background-color: #f89750;
}

h1 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.header {
  ul {
    padding-left: 0px;

    li {
      list-style-type: none;

      a {
        color: #fff;
        font-size: .9em;
        text-transform: uppercase;
        letter-spacing: 0.02em;
      }
    }
  }
}


.right-inner-addon {
  display: inline;

  .glyphicon-search {
    position: absolute;
    right: 30px;
    z-index: 1;
    color: #fff;
  }

  select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 40px;
    
  }

  .form-control {
    background-color: rgba(255, 255, 255, 0.5);
    border: .2em solid  rgba(255, 255, 255, 0.9);
    border-radius: .5em;
  }

  .tt-hint{
    color: #666;
  }

  .tt-dropdown-menu {
    background-color: #fff;
    border: .2em solid  rgba(255, 255, 255, 0.9);
  }

  .tt-dropdown-menu a:hover{
    background-color: transparent;
    color: #f89750;
  }
    
}



#infinite-scrolling {
  position: fixed;
  bottom:  -500px;
}
