/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require flat-ui
 *= require_tree .
 *= require_self
 */
$break-small: 350px;
//$tablet: "(min-width: 768px)";

html{
  font-size: 30px; //1rem=30px
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  background-color: #f89750;
}

h1 {
  color: #fff;
  font-size: .9rem;
  @media (min-width: $break-small){
        font-size: 1.2rem;
      }
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}


.header {
  ul {
    padding-left: 0px;

    li {
      list-style-type: none;

      a {
        color: #fff;
        font-size: .9em;
        text-transform: uppercase;
        letter-spacing: 0.02em;
      }
    }
  }
}

#search {
  width: 67.5vh;
  max-width: 90vw;
  margin: auto;
}

.right-inner-addon {
  display: inline;
  position: relative;

  .glyphicon-search {
    position: absolute;
    pointer-events: none;
    //right: 30vh;
    z-index: 99;
    color: #fff;
    //float: right;
    right: 0;
  }

  select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 40px;
    
  }

  .form-control {
    background-color: rgba(255, 255, 255, 0.5);
    border: .2em solid  rgba(255, 255, 255, 0.9);
    border-radius: 1em;
  }

  .tt-hint {
    color: #666;
  }

  .tt-dropdown-menu {
    background-color: #fff;
    border: 0;

    .tt-suggestion{
      
      &.tt-cursor{
        background-color: #fff;
        color: #f89750;
      }
    }  
  }   
}



#infinite-scrolling {
  position: fixed;
  bottom:  -500px;
}
