$aspectRatio: 3/4;
$boxSize: 20;

.all-cards{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    overflow: scroll;
    background-color: #fff;
    border-radius: .9em;
    width: $boxSize vw;
    max-width: $aspectRatio*$boxSize vh;
    height: $boxSize vh;
    max-height: $boxSize/$aspectRatio vw;

    .celeb-name {
      color: black;
      font-size: 1.7em;
      height: 7%;
      margin-bottom: 0;
      margin-top:2%;
      font-family: 'Varela Round', Arial, sans-serif;
      text-transform: uppercase;
    }

    .img-container {
    max-width: 80%;
    height: 30%;
    margin: 0 auto;
    overflow: hidden;

      img {
        position: relative;
        left: 50%;
        @include translateX(-50%);
        max-height: 100%;
      }
    }

    .bar-chart {
      width: 100%;
      //margin-left: 5%;
      //margin-bottom: 5vh;
      max-height: 33%;
      svg {
        max-height: 100%;
        border-radius: .25em;
        margin-bottom: 1%;
      }
    }

    .action-text {
      margin-bottom: 0px;
      margin-left: 5%;
      text-align: left;
      color: black;
      font-size: .95em;
      text-transform: uppercase;
    }

    //form

    .front {
      //padding-bottom: 15px;
      //margin-bottom: 15px;
    }

    .back {
      padding-top: 15px;
      margin-top: 15px;
    }
  }
}

//KEEP FOR CARD FLIP IN FUTURE
//.back {
//  transition: all .4s ease-in-out;
//  z-index: 800;
//  transform-style: preserve-3d;
//  transform: rotateY(-179deg);
//  backface-visibility: hidden;
//
//  border-style: groove;
//  border-width: 5px;
//  top: 32px;
//  left: 14px;
////  position: absolute;
//  float: none;
//
//  height: 75vh;
//}

//.front {
//  transition: all .4s ease-in-out;
//  z-index: 900;
//  transform-style: preserve-3d;
//  transform: rotateX(0deg) rotateY(0deg);
//  backface-visibility: hidden;
//
//  border-style: groove;
//  border-width: 5px;
//  height: 75vh;
//
////  top: 0px;
////  left: 0px;
////  position: absolute;
////  float: none;
//
//
//}
//
//.card.flip .back {
//  z-index: 1000;
//  transform: rotateX(0deg) rotateY(0deg);
//  position: absolute;
//}
//
//.card.flip .front {
//  z-index: 900;
//  transform: rotateY(180deg);
//  //display: none;
//}
