
$tablet-768: 768px;

$break-320: 320px;
$break-321: 321px;
$break-370: 370px;
$break-371: 371px;
$break-400: 400px;
$break-401: 401px;
$break-450: 450px;
$break-451: 451px;
$break-500: 500px;
$break-501: 501px;
$break-600: 600px;
$break-700: 700px;
$break-701: 701px;
$break-750: 750px;
$break-769: 769px;
$break-850: 850px;
$break-1000: 1000px;
$break-1001: 1001px;
$break-1200: 1200px;
$break-1201: 1201px;
$break-1900: 1900px;
$break-1901: 1901px;
$break-2000: 2000px;
$break-2001: 2001px;

.all-cards{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 3%;

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1 1 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    background-color: #fff;
    border-radius: .9em;
    height: auto;
    width: 67.5vh;
    max-width: 90vw;

    .celeb-name {
      color: black;
      font-size: .8rem;
      font-weight: 400;
      @media (max-width: $break-320) and (orientation: landscape){
        font-size: .4rem;
      }
      @media (min-width: $break-321) and (max-width: $break-370) and (orientation: landscape){
        font-size: .5rem;
      }
      @media (min-width: $break-371) and (max-width: $break-400) and (orientation: landscape){
        font-size: .6rem;
      }
      @media (min-width: $break-401) and (max-width: $break-500) and (orientation: landscape){
        font-size: .7rem;
      }     
      @media (min-width: $break-600) and (max-width: $break-700) and (orientation: landscape){
        font-size: 1rem;
        margin: 0 auto;
      }  
      @media (min-width: $break-701) and (max-width: $break-1200) and (orientation: landscape){
        font-size: 1.3rem;
        margin: 0 auto;
      }
      @media (min-width: $break-1201) and (max-width: $break-1900) and (orientation: landscape){
        font-size: 1.5rem;
        margin: 0 auto;
      } 
      @media (min-width: $break-1901) and (orientation: landscape){
        font-size: 1.7rem;
        margin: 0 auto;
      } 
      @media (max-height: $break-450) and (orientation: landscape){
        font-size: .65rem;
      }
      @media (min-height: $break-451) and (max-height: $break-700) and (orientation: landscape){
        font-size: 1rem;
      }  
      @media (min-width: $break-501) and (max-width: $tablet-768) and (orientation: portrait){
        font-size: 1.5rem;
        margin: 0 auto;
      } 
      @media (min-height: $tablet-768) and (orientation: portrait){
        font-size: 1.5rem;
        margin: 0 auto;
      }
      @media (min-width: $break-769) and (orientation: portrait){
        font-size: 1.7rem;
        margin: 0 auto;
      }
      @media (min-width: $break-1000) and (orientation: portrait){
        font-size: 2rem;
        margin: 0 auto;
      }
    
      margin: 2vh auto 1%;
      font-family: 'Varela Round', Arial, sans-serif;
      text-transform: uppercase;
    }

    .img-container {
      max-height: 39.5vh;
      @media (max-height: $break-400) and (orientation: landscape){
        max-height: 35vh;
      }
      @media(max-aspect-ratio: 16/9){
        max-height: 42vh;
      }
      max-width: 45vh;
      margin: 1% auto 3%;
      overflow: hidden;
      display: block;

      img {
        margin: 0 auto;
        min-height: 39.5vh;
        @media (min-width: $break-2000){
          min-height: 42vh;
        }
        @media (max-height: $break-400) and (orientation: landscape){
          min-height: 35vh;
        }
        @media (max-aspect-ratio: 16/9){
          min-height: 42vh;
        }
        height: auto;
        max-width: 100%;
        object-fit: cover;
      }
    }

    .bar-chart {
      top: 2%;
      width: 90%;
      height: auto;
      margin: 4% auto 2%;
      max-height: 35%;
      svg{
        overflow: visible;
        display: block;
        @media (max-height: $break-850) and (orientation: portrait){
          //object-fit: contain;
          //max-width: 60vh;
        }
        @media (max-height: $break-750) and (orientation: landscape){
          //object-fit: contain;
          //max-width: 60vh;
        }
      }
    }       

    .action-text {
      margin-top: 5%;
      margin-bottom: 0px;
      margin-left: 3%;
      text-align: left;
      color: black;
      font-size: .6rem;
      @media (max-height: $break-400){
        font-size: .35rem;
        margin-top: 1%;
      }
      @media (min-height: $break-401) and (max-height: $break-500){
        font-size: .4rem;
        margin-top: 1%;
      }
      @media (min-height: $break-700) and (max-height: $break-1000){
        font-size: .75rem;
        margin-top: 1%;
      }
      @media (min-height: $break-1001) and (max-height: $break-2000){
        font-size: .9rem;
        margin-top: 1%;
      }
      @media (min-height: $break-2001){
        font-size: 1.8rem;
      }
      text-transform: uppercase;
      font-weight: 700;
    }

    .front {
      margin: 1.5% auto;
      height: 95vh;
      width: 67.5vh;
      max-height: 95vh;
      max-width: 90vw;
    }

    .back {
      padding-top: 15px;
      margin-top: 15px;
    }
  } 
}


//KEEP FOR CARD FLIP IN FUTURE
//.back {
//  transition: all .4s ease-in-out;
//  z-index: 800;
//  transform-style: preserve-3d;
//  transform: rotateY(-179deg);
//  backface-visibility: hidden;
//
//  border-style: groove;
//  border-width: 5px;
//  top: 32px;
//  left: 14px;
////  position: absolute;
//  float: none;
//
//  height: 75vh;
//}

//.front {
//  transition: all .4s ease-in-out;
//  z-index: 900;
//  transform-style: preserve-3d;
//  transform: rotateX(0deg) rotateY(0deg);
//  backface-visibility: hidden;
//
//  border-style: groove;
//  border-width: 5px;
//  height: 75vh;
//
////  top: 0px;
////  left: 0px;
////  position: absolute;
////  float: none;
//
//
//}
//
//.card.flip .back {
//  z-index: 1000;
//  transform: rotateX(0deg) rotateY(0deg);
//  position: absolute;
//}
//
//.card.flip .front {
//  z-index: 900;
//  transform: rotateY(180deg);
//  //display: none;
//}
