$iphone-320: 320px;
$tablet-1280: 1280px;

$break-800: 800px;
$break-450: 450px;
$break-690: 690px;
$break-1500: 1500px;
$break-2000: 2000px;

.chart {
  height: 30%; 
  g {
    @media (orientation: landscape){
	  width: 90%;
  rect {
  	fill: #f89750;
  	max-width: 83%;
  	@media (orientation: landscape){
	  object-fit: contain;
  	}
  }
}
.chart text {
  fill: #fff;
  text-anchor: start;
  font-size: .7rem;
  @media (min-width: $break-1500){
    font-size: 1.15rem;
  }
  @media (min-width: $break-2000){
    font-size: 1.5rem;
  }
  @media (min-width: $break-800) and (orientation: portrait) {
    font-size: 1.15rem;
  }
  @media (max-height: $break-450) and (orientation: landscape){
    font-size: .3rem;
  }
  @media (min-height: $tablet-1280) and (orientation: portrait) {
    font-size: 1.6rem;
  }
  
}

