$break-800: 800px;
$break-690: 690px;

.chart {
  height: 30%;
  g{
  	@media (max-height: $break-690){
    	max-width: 70%;
  } 
  }
}

.chart rect {
  fill: #f89750;
  max-width: 83%;
  @media (min-width: $break-800){
    max-width: 30%;
  }  
  @media (max-height: $break-690){
    max-width: 30%;
  }  
}
.chart text {
  fill: #fff;
  text-anchor: start;
  font-size: .7rem;
}

