
$tablet-1280: 1280px;


$break-400: 400px;
$break-401: 401px;
$break-500: 500px;
$break-501: 501px;
$break-700: 700px;
$break-800: 800px;
$break-1500: 1500px;
$break-2000: 2000px;

.chart rect{
  overflow-x: hidden;
}
.chart text {
  fill: #fff;
  text-anchor: start;
  font-size: .7rem;
  @media (max-height: $break-400) and (orientation: landscape){
    font-size: .25rem;
  }
  @media (min-height: $break-401) and (max-height: $break-500) and (orientation: landscape){
    font-size: .3rem;
  }
  @media (min-height: $break-501) and (max-height: $break-700) and (orientation: landscape){
    font-size: .5rem;
  }
  @media (min-width: $break-1500) and (orientation: landscape){
    font-size: 1.15rem;
  }
  @media (min-width: $break-2000) and (orientation: landscape){
    font-size: 1.5rem;
  }
  @media (min-width: $break-800) and (orientation: portrait) {
    font-size: 1.15rem;
  }
    @media (min-height: $tablet-1280) and (orientation: portrait) {
    font-size: 1.2rem;
  }
  
}

