form {
  width: 97%;
  bottom: 0;
  margin: .5% auto;
  height: 15%;
  overflow: visible;

  .custom_radio {
    display: inline-block;
    width: 22%;
    margin-right: 1.5%;
    @media (max-height: 400px) and (orientation: landscape){
      margin-right: 1%;
    }
    &:last-child{
      margin-right:0;
    }

    label {
      width: 100%;
      height: auto;
      label {
        display: inline-block;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
        color: black;
        background-color: #fff;
        margin-top: 1%;
        font-size: 1.8rem;
        @media (max-height: 350px) and (orientation: landscape){
          font-size: 1rem;
        }
        @media (min-height: 350px) and (max-height: 370px) and (orientation: landscape){
          font-size: 1.15rem;
        }
        @media (max-width: 400px) and (orientation: portrait) {
          font-size: 1.2rem;
        }
        @media (min-height: 370px) and (max-height: 400px) and (orientation: landscape){
          font-size: 1.3rem;
        }
        @media (min-height: 400px) and (max-height: 450px) and (min-width: 450px)  and (max-width: 710px) and (orientation: landscape){
          font-size: 1.4rem;
        }
        @media (max-width: 370px) and (max-height: 370px) and (orientation: landscape){
          font-size: 1.6rem;
        }       
        @media (max-width: 400px) and (min-height: 600px) and (orientation: portrait){
          font-size: 1.6rem;
        }
        @media (min-width: 400px) and (max-width: 710px) and (max-height: 650px) and (orientation: portrait) {
          font-size: 1.9rem;
        }
        @media (min-height: 350px) and (max-height: 370px) and (min-width: 630px) and (orientation: landscape){
          font-size: 2rem;
        }
        @media (min-height: 500px) and (max-height: 630px) and (min-width: 850px) and (orientation: landscape){
          font-size: 2.1rem;
        }
        @media (min-height: 350px) and (max-height: 666px) and (min-width: 600px) and (orientation: landscape){
          font-size: 2.2rem;
        }
        @media (min-height: 640px) and (max-height: 767px) and (min-width: 450px) and (orientation: portrait){
          font-size: 2.9rem;
        }
        @media (min-width: 1200px) and (min-height: 400px) and (orientation: landscape){
          font-size: 2.5rem;
        }
        @media (max-height: 450px) and (max-width: 750px) and (orientation: landscape){
          font-size: 2.5rem;
        } 
        @media (max-height: 450px) and (min-width: 750px) and (orientation: landscape){
          font-size: 1rem;
        }   
        @media (min-height: 667px) and (max-height: 767px) and (orientation: landscape){
          font-size: 2.5rem;
        }
        @media (min-height: 768px) and (max-height: 849px) and (min-width: 400px) and (max-width: 1030px) and (orientation: landscape){
          font-size: 2.7rem;
        }
        @media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape){
          //font-size: 2.3rem;
          font-size: 70px;
        }
        @media (min-height: 768px) and (max-height: 849px) and (min-width: 1030px) and (orientation: landscape){
          font-size: 3.1rem;
        }
        @media (min-height: 850px) and (max-height: 1000px) and (min-width: 400px) and (orientation: landscape){
          font-size: 3.5rem;
        }
        @media (min-height: 1024px) and (max-height: 1600px) and (min-width: 400px) and (orientation: portrait){
          font-size: 3.4rem;
        }
        @media (min-height: 1024px) and (max-height: 1600px) and (min-width: 780px) and (orientation: portrait){
          font-size: 3.8rem;
        }
         @media (min-height: 1600px) and (max-height: 1900px) and (min-width: 400px) and (orientation: portrait){
          font-size: 3.9rem;
        }
        @media (min-height: 1000px) and (max-height: 1200px) and (min-width: 400px) and (orientation: landscape){
          font-size: 4.9rem;
        }
        @media (min-height: 1200px) and (min-width: 400px) and (orientation: landscape){
          font-size: 5.7rem;
        }
        @media (min-height: 1900px) and (max-height: 2000px) and (min-width: 400px) and (orientation: portrait){
          font-size: 6.2rem;
        }
        @media (min-height: 2000px) and (min-width: 400px){
          font-size: 8rem;
        }
        @media (device-aspect-ratio: 4/3) and (orientation: landscape) {
          //font-size: 1.5rem;
        }
        line-height: .3;
        text-transform: uppercase;
        font-weight: 700;
        -webkit-box-shadow: 2px 1px 4px 2px rgba(166,166,166,1);
        -moz-box-shadow: 2px 1px 4px 2px rgba(166,166,166,1);
        box-shadow: 2px 1px 4px 2px rgba(166,166,166,1);
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        @media (max-height: 770px) and (max-width: 500px){
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
        }
        .label-content-container{
          margin-top: 27%;
          margin-bottom: 1%;
        }
        sub{
          font-size: 22%;
          vertical-align: inherit;
        }
        sup{
          font-size: 20%;
          vertical-align: inherit;
          top: -.2em;
        }
      }
    }

    input[type="radio"] {
      opacity: 0;
      display: none;
    }

    input[type="radio"]:checked + label {
      border: 3px solid #f89750;
    }
  }

  .btn-primary {
    display: block;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 1.4em;
    &:hover {
      background-color: white;
      color: black;

      &:active {
      color: white;
      background-color: black;
      }
    }
  }

  .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: white;
    background-color: black;
  }

  .btn.glyphicon:focus, .btn.glyphicon:hover, .btn.glyphicon.active {
    color: #f89750;
  }
}
