$iphone-320: 320px;
$iphone-375: 375px;
$iphone-414: 414px;
$iphone-480: 480px;
$iphone-568: 568px;
$iphone-601: 601px;
$galaxy-640: 640px;
$iphone-667: 667px;
$iphone-736: 736px;
$tablet-768: 768px;
$tablet-800: 800px;
$tablet-906: 906px;
$tablet-1024: 1024px;
$screen-1200: 1200px;
$tablet-1280: 1280px;
$tablet-screen-1600: 1600px;

$break-360: 360px;
$break-370: 370px;
$break-371: 371px;
$break-400: 400px;
$break-401: 401px;
$break-450: 450px;
$break-451: 451px;
$break-500: 500px;
$break-630: 630px;
$break-600: 600px;
$break-650: 650px;
$break-666: 666px;
$break-667: 667px;
$break-767: 767px;
$break-780: 780px;
$break-849: 849px;
$break-850: 850px;
$break-1000: 1000px;
$break-1001: 1001px;
$break-1200: 1200px;
$break-1600: 1600px;
$break-1601: 1601px;
$break-1900: 1900px;
$break-1901: 1901px;
$break-2000: 2000px;
$break-2001: 2001px;

form {
  width: 97%;
  bottom: 0;
  margin: .5% auto;
  height: 15%;
  overflow: visible;

  .custom_radio {
    display: inline-block;
    width: 22%;
    margin-right: 2%;
    @media (max-height: $break-400) and (orientation: landscape){
      margin-right: 1%;
    }
    &:last-child{
      margin-right:0;
    }

    label {
      width: 100%;
      height: auto;
      label {
        display: inline-block;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
        color: black;
        background-color: #fff;
        margin-top: 1%;
        font-size: 2rem;
        @media (max-width: $break-360) and (orientation: landscape){
          font-size: 1.7rem;
        }
        @media (min-width: $break-1200) and (orientation: landscape){
          font-size: 2.65rem;
        }
        @media (max-height: $break-370) and (orientation: landscape){
          font-size: 1.1rem;
        }
        @media (min-height: $break-371) and (max-height: $break-400) and (orientation: landscape){
          font-size: 1.4rem;
        }
        @media (min-height: $break-401) and (max-height: $break-450) and (orientation: landscape){
          font-size: 1.55rem;
        }
        @media (min-height: $break-451) and (max-height: $break-500) and (orientation: landscape){
          font-size: 1.75rem;
        }
        @media (min-height: $break-630) and (max-height: $break-666) and (orientation: landscape){
          font-size: 2.3rem;
        }
        @media (min-height: $break-667) and (max-height: $break-767) and (orientation: landscape){
          font-size: 2.6rem;
        }
        @media (min-height: $tablet-768) and (max-height: $break-849) and (orientation: landscape){
          font-size: 3.3rem;
        }
        @media (min-height: $break-850) and (max-height: $break-1000) and (orientation: landscape){
          font-size: 3.6rem;
        }
        @media (min-height: $break-1001) and (orientation: landscape){
          font-size: 5rem;
        }
        @media (min-width: $break-600) and (orientation: portrait){
          //font-size: 3.5rem;
        }
        @media (min-height: $tablet-1024) and (max-height: $break-1600) and (orientation: portrait){
          font-size: 3.4rem;
        }
         @media (min-height: $break-1601) and (max-height: $break-1900) and (orientation: portrait){
          font-size: 4rem;
        }
        @media (min-height: $break-1901) and (max-height: $break-2000) and (orientation: portrait){
          font-size: 6.3rem;
        }
        @media (min-height: $break-2001) {
          font-size: 9rem;
        }
        line-height: .3;
        text-transform: uppercase;
        font-weight: 700;
        -webkit-box-shadow: 2px 1px 4px 2px rgba(166,166,166,1);
        -moz-box-shadow: 2px 1px 4px 2px rgba(166,166,166,1);
        box-shadow: 2px 1px 4px 2px rgba(166,166,166,1);
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        @media (max-height: $break-400) and (orientation: landscape){
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }
        .label-content-container{
          margin-top: 27%;
          margin-bottom: 1%;
        }
        sub{
          font-size: 22%;
          vertical-align: inherit;
        }
        sup{
          font-size: 20%;
          vertical-align: inherit;
          top: -.2em;
        }
      }
    }

    input[type="radio"] {
      opacity: 0;
      display: none;
    }

    input[type="radio"]:checked + label {
      border: 3px solid #f89750;
    }
  }

  .btn-primary {
    display: block;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 1.4em;
    &:hover {
      background-color: white;
      color: black;

      &:active {
      color: white;
      background-color: black;
      }
    }
  }

  .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: white;
    background-color: black;
  }

  .btn.glyphicon:focus, .btn.glyphicon:hover, .btn.glyphicon.active {
    color: #f89750;
  }
}
