$break-350: 350px;
$break-360: 360px;
$break-450: 450px;
$break-630: 630px;
$break-700: 700px;
$break-780: 780px;
$break-850: 850px;
$break-1000: 1000px;
$break-2000: 2000px;
form {
  width: 97%;
  bottom: 0;
  margin: .5% auto;
  height: 15%;
  //max-height: 25%;
  overflow: visible;
  //display: inline;

  .custom_radio {
    display: inline-block;
    width: 22%;
    margin-right: 2.5%;
    &:last-child{
      margin-right:0;
    }

    label {
      width: 100%;
      height: auto;
      label {
        display: inline-block;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
        color: black;
        background-color: #fff;
        margin-top: 1%;
        font-size: 2rem;
        @media (max-width: $break-360){
          font-size: 1.8rem;
        }
        @media (min-width: $break-450){
          font-size: 2.7rem;
        }
        @media (min-height: $break-780){
          font-size: 3.2rem;
        }
        @media (min-height: $break-850){
          font-size: 3.6rem;
        }
        @media (min-height: $break-1000){
          font-size: 5rem;
        }
        @media (min-height: $break-2000){
          font-size: 8rem;
        }
        line-height: .3;
        text-transform: uppercase;
        font-weight: 700;
        -webkit-box-shadow: 2px 1px 4px 2px rgba(166,166,166,1);
        -moz-box-shadow: 2px 1px 4px 2px rgba(166,166,166,1);
        box-shadow: 2px 1px 4px 2px rgba(166,166,166,1);
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        .label-content-container{
          margin-top: 27%;
          margin-bottom: 1%;
        }
        sub{
          font-size: 22%;
          vertical-align: inherit;
        }
        sup{
          font-size: 20%;
          vertical-align: inherit;
          top: -.2em;
        }
      }
    }

    input[type="radio"] {
      opacity: 0;
      display: none;
    }

    input[type="radio"]:checked + label {
      border: 3px solid #f89750;
    }
  }

  .btn-primary {
    display: block;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 1.4em;
    &:hover {
      background-color: white;
      color: black;

      &:active {
      color: white;
      background-color: black;
      }
    }
  }

  .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: white;
    background-color: black;
  }

  .btn.glyphicon:focus, .btn.glyphicon:hover, .btn.glyphicon.active {
    color: #f89750;
    //background-color: black;
  }
}
